
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-mixcloud:before { content: '\f289'; } /* '' */
